/* variables */
:root {
  --main-color: #1e677c;
  --text-color: #3f5c64;
  --bg-color: #e6e7d4;
  --container-color: #c57f23;
}
#navbar {
  background-color: transparent;
  z-index: 100;
}
nav .container {
  margin: 0 100px;
}
#nav-link {
  color: var(--text-color);
  font-size: 17px;
  font-weight: 700;
}
#nav-link:hover {
  color: var(--main-color);
}
footer {
  margin-top: 30px;
  background-color: var(--text-color);
  color: var(--bg-color);
  text-decoration: none;
}
#footer-con {
  padding-top: 30px;
  padding-bottom: 30px;
}
.p-footer {
  margin-top: 20px;
}
.a-footer {
  color: var(--container-color);
}
#user-icon {
  position: relative;
}
.drop-pof {
  position: absolute;
  font-size: 15px;
  text-align: left;
  /* width: 120px; */
  text-decoration: none;
  display: none;
  background-color: var(--bg-color);
  padding: 0 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.drop-pof div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.drop-pof div a {
  color: var(--main-color);
  font-size: 17px;
  font-weight: 600;
}
.drop-pof div a:hover {
  text-decoration: none;
}
.drop-pof div i {
  font-size: 17px;
  font-weight: 600;
}
#user-icon:hover .drop-pof {
  display: block;
}
.prof-sec-all {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}
.div-sec-all-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.div-sec-all-back a:hover{
  text-decoration: none;
}
.div-sec-all-back i {
  font-size: 20px;
}
#prof-img img{
  width: 250px;
  height: 250px;
  border-radius: 500px;
  border: 3px solid green;
}
#prof-img{
  position: relative;
}
#img-add-prof{
  position: absolute;
  color: green;
  font-size: 40px;
  top: 80%;
  left: 80%;
}
.page-content{
  text-align: center;
  margin-top: 10px;
}
.page-content h4{
  color: var(--text-color);
  font-weight: 600;
  
}
.content-con{
  margin-left: 130px;
}
.flex-b{
  display: flex;
  text-align: center;
}
